html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

.card {
    width: 320px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: none;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;        
    border-radius: 1%;       
    margin: 15px auto;
    display: block;
}

.name {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0 5px;
}

.desc {
    color: gray;
    font-size: 14px;
}

.location {
    font-size: 14px;
    margin-bottom: 1px;
}

.social img {
    width: 20px;
    margin: 10px 5px;
    cursor: pointer;
}

.contact-btn {
    width: 100%;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 0 2px 2px;
}

.contact-btn:hover {
    background: #333;
}
