body {
    margin: 0;
    height: 100vh;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #fbff00;
    color: rgb(0, 47, 255);
    cursor: pointer;
}

button:hover {
    background-color: #00b30f;
}
