
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        table {
            width: 100vw;
            height: 100vh;
            border-collapse: collapse;
        }

        td {
            width: 50%;
            text-align: center;
            vertical-align: center;
            font-size: 2vw;
            border: 1px solid black;
        }

        .cell1 {
            background-color: #c5cc85;
        }

        .cell2 {
            background-color: #f7c6ad;
        }
  
